.tr {
    &:hover {
        background-color: #f8f9fa;
        cursor: pointer;
    }
}

thead {
    position: sticky;
    top: 0px;
    background-color: #fff;
    transition: box-shadow 150ms ease;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border-bottom: 1px solid #e9ecef;
    }
}

.scrolled {
    box-shadow: var(--mantine-shadow-sm);
}
